<footer class="blog__footer">
  <a href="{{@blog.url}}/rss/" target="_blank">Subscribe</a>
  <div class="blog__copyright">
    <span itemprop="copyrightYear">&copy; {{ date format="YYYY" }}</span><span> All rights reserved –</span><span itemprop="copyrightHolder"> {{ @blog.title }}</span>
  </div>
</footer>
