<div class="blog__title">
  <a href="/" itemprop="name" title="Click to go back to the home page">{{@blog.title}}</a>
  <div class="blog__description" itemprop="description">
    {{@blog.description}}
  </div>
</div>
