<header class="blog__header">
  <div class="blog__title">
    <a href="{{@blog.url}}" itemprop="name" title="{{@blog.title}}">{{@blog.title}}</a>
  </div>
  <div class="blog__description" itemprop="description">
    {{@blog.description}}
  </div>
</header>
