/*=============================================
=            Kaidan - Theme Config            =
=============================================*/

// Colors
$c__base_text   : #2c3e50;
$c__primary     : ghostwhite;
$c__secondary   : silver;
$c__highlight   : #3498db;

// Typography
$t__headline_font_stack   : "";
$t__body_copy_font_stack  : "";
$t__headline_weight       : 700;
$t__default_font_size     : 1.618rem;
$t__default_line_height   : 1.618;

/*-----  End of Kaidan - Theme Config  ------*/

